@font-face {
    font-family: 'Mohave';
    src: url('../Fonts/Mohave-Regular.ttf') format('truetype');
  }
  

@media (max-width: 992px) {
    .card-body {
        text-align: center; 
    }
    .navbar-nav.ml-auto {
        text-align: center; 
        width: 100%;
    }
    .navbar-nav.ml-auto .nav-item {
        display: inline-block; 
        float: none; 
        margin-left: 5rem; 
    }
    .navbar-nav.ml-auto .nav-link {
        display: inline-block; 
    }
}

.contact-us-page{
min-height: 100vh;
overflow: hidden;
font-family: 'Mohave';
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.contactus-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: auto; 
    background: linear-gradient(180deg, #ffcccc8c, #ccccffac);
    padding: 2rem;
 
}


 .headerr{
    font-weight: bolder;
    font-size: 3.2rem;
    text-align: justify;
    padding-left: 10px;

}

.headerr .text-primary-custom {
    color: #A15FF4 ;
    font-weight: bolder;
    font-size: 3.2rem;
 

}

.form-controll {
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    background-color: #9327e4;


}

.form-controll:focus {
    box-shadow: 0 0 8px rgba(125, 60, 240, 0.5);
    border-color: #A15FF4;
}

.btn-primaryy {
    background-color: #A15FF4;
    border-color: #A15FF4;
    color: #F2F2FD;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0.5rem 1.5rem;  
    border-radius: 10px; 
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    width: 100%;
    margin-top: 2rem;
}


.btn-primaryy:hover {
    background-color: #9327e4;
    border-color: #9327e4 ;
}

.btn:active {
    transform: scale(0.95);
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: left;
    font-size: 0.7rem; 
}

.contact-info div {
    display: flex;
    align-items: center;
}

.contact-info img {
    margin-right: 0.5rem; 
    width: 1.5rem; 
    height: 1.5rem; 
}

.contact-info p {
    margin: 0;
}

.contact-info .red-text {
    color: red;
}

.form-groupp.d-flex {
    align-items: center;
    margin-bottom: 2rem;
    
}

.form-groupp img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.form-groupp input {
    flex: 1;
    width: 100%;
    height: 3rem;
    border: none;
    background-color: #ffffff;
    color: rgb(26, 29, 31);
    padding-left: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    
     
}

.input-fieldd {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2rem;
    
}

.input-fieldd > label {
    position: absolute;
    right: 0.75em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: 'Inter', sans-serif;
    color: red;
}


.input-fieldd > input[type="text"]:placeholder-shown + label::after,
.input-fieldd > input[type="email"]:placeholder-shown + label::after {
    content: '*';

    color: red;}
 .flex{
      font-weight: 500;
      text-align: start;
      font-size: 1.5rem;
      
}